/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';



.hide-scroll {
    overflow: hidden; /* Hide scrollbars for all browsers */
}

.hide-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbars for WebKit browsers */
}
.css-x7ca5p-MuiButtonBase-root:hover .MuiTypography-root, .css-x7ca5p-MuiButtonBase-root.Mui-focusVisible .MuiTypography-root,
.css-132h9lo-MuiButtonBase-root:hover .MuiTypography-root, .css-132h9lo-MuiButtonBase-root.Mui-focusVisible .MuiTypography-root {
    border: none!important;
}


.classs {
    fontSize: 20px;
}


.ql-toolbar.ql-snow {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
       border-color: rgba(192, 192, 192, 0.1)!important;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border-radius: 6px;
}
.ql-snow .ql-tooltip input[type=text],
.ql-snow .ql-tooltip,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-radius: 6px;
      border-color: rgba(192, 192, 192, 0.1)!important;
}
.ql-tooltip.ql-editing {
    left : -10px
}

.ql-container.ql-snow {
   border-color: rgba(192, 192, 192, 0.1)!important;
   border-bottom-right-radius: 6px;     
    border-bottom-left-radius: 6px;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    min-height: 100px
}



.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter{
    stroke: #007C54!important;

}

.hide-scroll::webkit-scrollbar {
    display: none; /* Hide scrollbars for WebKit browsers */
    width: 0px;

}